html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-50);
  background-image: url("/public/bg.svg");
  color: var(--neutral-900);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

hr {
  border: none;
  border-top: 1px solid var(--neutral-300);
  margin-inline: calc(var(--spacing) * 4);
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Better line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Accessibility */
/* *:focus { */
/*   outline: none; */
/* } */

/* *:focus-visible { */
/*   outline: 2px solid var(--primary-500); */
/*   border-radius: var(--radius-sm); */
/* } */

/* This feature is not standardized. */
::-webkit-scrollbar {
  /* Vertical */
  width: 12px;
  /* Horizontal */
  height: 10px;
}

/* ::-webkit-scrollbar-track { */
/*   margin: 1em; */
/* } */

::-webkit-scrollbar-track:hover {
  background-color: var(--neutral-200);
  border-radius: var(--radius-sm);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-400);
  border: 3px solid transparent;
  border-radius: var(--radius-sm);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--neutral-500);
  border: 2px solid transparent;
}
