/* Line-height and font size are inversely proportinal */
/* Bigger text needs less line-height, smaller text needs more */
/* Stick to two color, size, weight */
/* Use `clamp()` for headings — they need the most scaling */

h1 {
  font-size: var(--text-4xl);
  /* font-size: clamp(var(--text-2xl), 5vw, var(--text-4xl)); */
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-size: var(--text-3xl);
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: var(--text-2xl);
  font-weight: 500;
  line-height: 1.3;
}

h4 {
  font-size: var(--text-xl);
  font-weight: 400;
  line-height: 1.4;
}

h5 {
  font-size: var(--text-lg);
  font-weight: 400;
  line-height: 1.5;
}

h6 {
  font-size: var(--text-base);
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-size: var(--text-base);
  line-height: 1.6;
  letter-spacing: 0.025em;
  color: var(--neutral-600);

  a {
    color: var(--neutral-800);
    border-bottom: 2px solid var(--neutral-500);
    transition: border 0.3s ease-in-out;

    &:hover {
      border-bottom: 2px solid var(--neutral-100);
    }
  }
}

small {
  font-size: var(--text-sm);
  line-height: 1.6;
}

.lead {
  font-size: var(--text-lg);
}

.prose {
  max-width: 65ch;
  line-height: 1.75;
}

.prose > :first-child {
  margin-top: 0;
}

.prose > :last-child {
  margin-bottom: 0;
}
