html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-display: swap;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-image: url("/public/bg.svg");
  background-color: var(--neutral-50);
  color: var(--neutral-950);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

hr {
  border: none;
  border-top: 1px solid var(--neutral-300);
  margin-block: calc(var(--spacing) * 8);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Accessibility */
/* *:focus { */
/*   outline: none; */
/* } */

/* *:focus-visible { */
/*   outline: 2px solid var(--primary-500); */
/*   border-radius: var(--radius-md); */
/* } */

/* This feature is not standardized. */
::-webkit-scrollbar {
  width: 14px; /* Vertical */
  height: 6px; /* Horizontal */
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--neutral-300);
  border: 3px solid transparent;
  border-radius: var(--radius-md);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: var(--neutral-500);
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--neutral-300);
  border-radius: var(--radius-sm);
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: var(--neutral-500);
}
