.cards {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 4);
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--neutral-200);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  width: 100%;
  /* overflow: hidden; */
  background-color: var(--neutral-100);
  transition: transform 300ms ease;

  &:hover {
    transform: translateY(-4px);
  }

  /* Desktop */
  @media (width >= 640px) {
    width: calc(50% - 0.5rem);
  }

  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    /* &:hover { filter: blur(1px) } */
  }

  .card-header {
    margin-block: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 4);

    .card-title {
      font-size: var(--text-xl);
      margin-bottom: calc(var(--spacing) * 1);
    }

    .card-subtitle {
      color: var(--neutral-600);
    }
  }

  .card-body {
    flex: 1;

    .card-text {
      padding-inline: calc(var(--spacing) * 4);
    }
  }

  .card-footer {
    padding: calc(var(--spacing) * 4);

    a {
      font-size: var(--text-sm);
    }
  }
}
