<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }} </title>
  <meta name="description" content="{{ description }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://yoursite.com/posts/{{ page.fileSlug }}/" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:description" content="{{ description }}" />
  <!-- External CSS -->
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <!-- Base Style -->
  <link rel="stylesheet" href="/css/base/preflight.css" />
  <link rel="stylesheet" href="/css/base/theme.css" />
  <link rel="stylesheet" href="/css/base/font.css" />
  <link rel="stylesheet" href="/css/base/default.css" />
  <!-- Layout -->
  <link rel="stylesheet" href="/css/layout/layout.css" />
  <!-- Page Specific -->
  <link rel="stylesheet" href="/css/pages/blog.css" />
  <!-- JS -->
  <script src="/js/navbar.js" defer></script>
  <script src="/js/script.js" defer></script>
  <!-- Highlight.js -->
  <link class="hljs-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
</head>

<body>
  <main class="container-lg">
    <article class="post">
      <header class="post-header">
        <h1>{{ title }}</h1>
        <div class="post-meta">
          <time datetime="{{ date }}">{{ date | readableDate }}</time>
        </div>
      </header>
      {{ content | safe }}
    </article>
  </main>

  <script>
    hljs.highlightAll();
  </script>
</body>

</html>
