.post {
  background-color: var(--neutral-50);
  max-width: 65ch;
  width: 100%;
  padding: 1rem;
}

.post-meta {
  color: var(--neutral-500);
}

h1 {
  font-size: var(--text-3xl);
  margin-bottom: calc(var(--spacing) * 2);

  &:first-of-type {
    padding-top: calc(var(--spacing) * 8);
  }
}

h2 {
  font-size: var(--text-2xl);
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 2);
}

h3 {
  font-size: var(--text-xl);
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: var(--spacing);
}

p {
  margin-bottom: calc(var(--spacing) * 4);
  /* line-height: 1.875; */
  font-weight: 400;
}

.post ul {
  color: var(--neutral-800);
  background-color: var(--neutral-100);
  padding: 1rem;
  border: 1px solid var(--neutral-200);
  border-radius: 1rem;

  li {
    line-height: 1.75;
    list-style: disc inside;
    padding-left: calc(var(--spacing) * 4);

    &::marker {
      color: var(--neutral-900);
    }
  }

  a {
    font-weight: 500;
    /* text-decoration: underline dashed var(--neutral-600) 1px; */
    /* text-underline-offset: 4px; */
  }

  a::after {
    content: "🔗";
    margin-left: 4px;
    font-size: 0.9em;
  }
}

/* Code */
pre {
  border: 1px solid var(--neutral-200);
  border-radius: var(--radius-lg);
  margin-block: calc(var(--spacing) * 6);
  padding-inline: calc(var(--spacing) * 6);
  background-color: var(--neutral-100);
  overflow-x: auto;
  max-width: 100%;
  white-space: pre;
}

pre code {
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  line-height: 1.75;
  background: none !important;
}

code {
  font-family: var(--font-mono);
  /* border: 1px solid var(--neutral-200); */
  /* border-radius: var(--radius-sm); */
  background-color: var(--neutral-100);
  padding: 0.1em 0.2em;
}
