.blog-header {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  h1 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .lead {
    font-size: var(--text-lg);
    color: var(--neutral-500);
    margin: 0;
  }
}

/* .blog-post { */
/*   max-width: 65ch; */
/*   margin: 0 auto; */
/* } */
/**/
/* .blog-post-header { */
/*   margin: 2rem 0; */
/**/
/*   .back-link { */
/*     padding-left: 0; */
/*     margin-bottom: 1rem; */
/*   } */
/**/
/*   h1 { */
/*     font-size: var(--text-3xl); */
/*     line-height: 1.2; */
/*     margin: 1rem 0 0.5rem 0; */
/*   } */
/**/
/*   .blog-meta { */
/*     color: var(--neutral-500); */
/*     font-size: var(--text-sm); */
/*     margin: 0; */
/*   } */
/* } */
/**/
/* .blog-content { */
/*   margin: 2rem 0; */
/*   line-height: 1.8; */
/**/
/*   p { */
/*     margin: 1.5rem 0; */
/*   } */
/**/
/*   h2 { */
/*     font-size: var(--text-xl); */
/*     margin: 2rem 0 1rem 0; */
/*   } */
/* } */
/**/
/* .blog-post-footer { */
/*   margin: 3rem 0; */
/* } */
