.hero {
  border: 1px solid var(--neutral-200);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  padding: calc(var(--spacing) * 8);
  background-color: var(--neutral-100);

  h1 {
    margin-bottom: calc(var(--spacing) * 6);
    font-size: var(--text-3xl);
  }

  .lead {
    /* color: var(--neutral-600); */
    font-size: var(--text-base);
    /* margin-bottom: calc(var(--spacing) * 6); */
  }
}

.hero-meta {
  .meta-item {}

  .meta-label {
    /* font-weight: 500; */
    margin-bottom: var(--spacing);
  }

  .meta-tech {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      box-sizing: content-box;
      width: 16px;
      height: 16px;
      background-color: var(--neutral-100);
      border: 1px dashed var(--neutral-200);
      border-radius: var(--radius-lg);
      padding: 0.5rem;
    }
  }

  p {
    margin-bottom: calc(var(--spacing) * 2);
  }
}

section {
  margin-block: calc(var(--spacing) * 12);

  h2 {
    font-size: var(--text-2xl);
    margin-bottom: calc(var(--spacing) * 8);
  }
}

/* Stack */
.personal-cards {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);

  a {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);

    border: 1px solid var(--neutral-200);
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing) * 4);
    background-color: var(--neutral-100);
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.02);
    }

    .icon {
      font-size: var(--text-2xl);
    }

    .content h3 {
      font-size: var(--text-lg);
      margin-bottom: var(--spacing);
    }

    /* .content p {} */
  }
}

#contact address {
  display: flex;

  a {
    font-style: normal;
    color: var(--neutral-900);
  }
}
