.hero {
  border: 1px solid var(--neutral-200);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  padding: calc(var(--spacing) * 8);
  background-color: var(--neutral-100);

  h1 {
    font-size: var(--text-3xl);
    margin-bottom: calc(var(--spacing) * 6);
  }

  .lead {
    font-size: var(--text-base);
    margin-bottom: calc(var(--spacing) * 6);
  }
}

.hero-meta {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  color: var(--neutral-600);

  /* .meta-item {} */

  /* .meta-label {} */
}

/* .meta-tech { */
/*   display: flex; */
/*   align-items: center; */
/*   gap: 0.5rem; */
/**/
/*   img { */
/*     box-sizing: content-box; */
/*     width: 16px; */
/*     height: 16px; */
/*     background-color: var(--neutral-100); */
/*     border: 1px solid var(--neutral-200); */
/*     border-radius: var(--radius-lg); */
/*     padding: 0.5rem; */
/*   } */
/* } */

section {
  margin-block: calc(var(--spacing) * 12);

  h2 {
    font-size: var(--text-2xl);
    margin-bottom: calc(var(--spacing) * 8);
  }
}

/* Stack */
.personal-cards {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);

  a {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 4);

    border: 1px solid var(--neutral-200);
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing) * 4);
    background-color: var(--neutral-100);
    transition: transform 300ms ease;

    &:hover {
      transform: scale(1.02);

      .arrow {
        opacity: 1;
      }
    }

    .icon {
      font-size: var(--text-2xl);
    }

    .content {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: var(--text-lg);
        margin-bottom: var(--spacing);
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      right: calc(var(--spacing) * 4);
      transform: translateY(-50%);
      opacity: 0;
      transition: opacity 150ms ease;
      color: var(--neutral-500);
    }
  }
}

/* #contact address { */
/*   display: flex; */
/*   gap: var(--spacing); */
/* } */

/* #quotes { */
/*   background-color: var(--neutral-100); */
/*   border: 1px solid var(--neutral-200); */
/*   border-radius: var(--radius-lg); */
/*   padding: calc(var(--spacing) * 4); */
/**/
/*   h3 { */
/*     margin-bottom: var(--spacing); */
/*   } */
/* } */

/* .contentsss { */
/*   background-color: blue; */
/* } */

/* #cart-list { */
/*   display: flex; */
/*   gap: 1rem; */
/*   background-color: var(--neutral-100); */
/**/
/*   .cart { */
/*     padding: 1rem; */
/*     display: flex; */
/*     flex-direction: column; */
/**/
/*     p { */
/*       margin-bottom: 1rem; */
/*       flex: 1; */
/*     } */
/*   } */
/**/
/*   img { */
/*     width: 100%; */
/*     height: 200px; */
/*     object-fit: cover; */
/*     padding: 1rem; */
/*     margin-bottom: 1rem; */
/*     background-color: var(--neutral-200); */
/*     border-radius: var(--radius-lg); */
/*   } */
/**/
/*   .cart-btn { */
/*     display: flex; */
/*     gap: 1rem; */
/*     margin-top: auto; */
/*   } */
/* } */
